.dice-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;
  height: 15%;
  padding: 0 1rem;
  overflow: hidden;

  border-top: var(--dice-container-pink-border-dim) 1px solid;
  border-bottom: var(--dice-container-pink-border-dim) 1px solid;
  transition: all 0.2s ease;
}

.dice-container.hovered,
.dice-container.rolling {
  border-top: var(--dice-container-pink-border-on) 3px solid;
  border-bottom: var(--dice-container-pink-border-on) 3px solid;
  box-shadow: 0 0 10px 1px var(--dice-container-pink-shadow-on);
}

.dice-container.init-state {
  border-top: var(--dice-container-pink-border-off) 1px solid;
  border-bottom: var(--dice-container-pink-border-off) 1px solid;

  &.active {
    border-top: var(--dice-container-pink-border-dim) 1px solid;
    border-bottom: var(--dice-container-pink-border-dim) 1px solid;
  }
}
