.room {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 14%;

  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  background-color: #111;

  font-family: var(--alternative-font);
  transition: all 0.1s ease-in-out;

  &.reversed {
    flex-direction: row-reverse;

    .room-score {
      border-radius: 5px 0 0 5px;
      border-right-width: 1px;
      border-right-style: solid;
      border-left: none;
    }
  }

  .room-name {
    font-size: 1.7rem;
  }

  .room-bonus-score-left {
    font-size: 1.2rem;
  }

  .room-score {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 25%;
    height: 100%;

    text-align: center;
    background-color: black;
    border-radius: 0 5px 5px 0;
    border-left-width: 1px;
    border-left-style: solid;

    p {
      opacity: 1;
      font-size: 1.7rem;
    }
  }
}

.room.not-ready {
  border-color: #2c222d;

  .room-name {
    color: #2c222d;
  }

  .room-bonus-score-left {
    color: #2c222d;
  }

  .room-score {
    border-left-color: #2c222d;
    border-right-color: #2c222d;

    p {
      opacity: 0;
    }
  }
}

.room.ready {
  &:not(:disabled) {
    border-color: #c683d3;

    .room-name {
      color: #c683d3;
    }

    .room-score {
      border-left-color: #c683d3;
      border-right-color: #c683d3;

      p {
        color: #dedede;
      }
    }
  }

  &:disabled {
    border-color: #3b2a3d;

    .room-name {
      color: #3b2a3d;
    }

    .room-score {
      border-left-color: #3b2a3d;
      border-right-color: #3b2a3d;

      p {
        color: #444444;
      }
    }
  }
}

.room.ready.potential {
  &:not(:disabled) {
    border-color: #f9dcfe;

    .room-name {
      font-weight: 600;
      color: #f9dcfe;
      text-shadow: 0 0 9px white;
    }

    .room-score {
      border-left-color: #f9dcfe;
      border-right-color: #f9dcfe;

      p {
        font-weight: 600;
      }
    }
  }

  &:disabled {
    border-color: #3b2a3d;

    .room-name {
      color: #3b2a3d;
      text-shadow: none;
    }

    .room-bonus-score-left {
      color: #3b2a3d;
    }

    .room-score {
      border-left-color: #3b2a3d;
      border-right-color: #3b2a3d;

      p {
        color: #444444;
      }
    }
  }
}

.room.ready.locked {
  background-color: #f9dcfe;
  border-color: #f9dcfe;
  /* box-shadow: 0 0 10px 2px #f580f8; */
  font-weight: 600;

  .room-name {
    color: #2c222d;
    text-shadow: 0 0 9px white;
  }

  .room-score {
    border-left-color: #f9dcfe;

    p {
      color: #dedede;
    }
  }
}

.room.ready.bonus {
  &:disabled {
    &:not(.locked) {
      border-color: #c683d3;

      .room-name {
        color: #c683d3;
      }

      .room-bonus-score-left {
        font-size: 1.5rem;
        color: #c683d3;
      }

      .room-score {
        border-left-color: #c683d3;

        p {
          color: #dedede;
        }
      }

      &.rolling,
      &.roll-zero-disabled {
        border-color: #3b2a3d;

        .room-name {
          color: #3b2a3d;
        }

        .room-bonus-score-left {
          color: #3b2a3d;
        }

        .room-score {
          border-left-color: #3b2a3d;
          border-right-color: #3b2a3d;

          p {
            color: #444444;
          }
        }
      }
    }

    &.locked {
      border-color: #f9dcfe;

      animation-name: granting-bonus;
      animation-fill-mode: backwards;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
      animation-delay: 0s;
      animation-direction: normal;
      animation-timing-function: ease-in-out;

      .room-name {
        color: #2c222d;
      }

      .room-bonus-score-left {
        display: none;
      }

      .room-score {
        border-left-color: #f9dcfe;
      }

      &.roll-zero-disabled {
        border-color: #f9dcfe;
      }
    }
  }
}

@keyframes granting-bonus {
  0% {
    border: #f9dcfe 2px solid;
    box-shadow: 0 0 20px 1px #f580f8;
    transform: scale(1);
  }
  50% {
    border: #f9dcfe 2px solid;
    box-shadow: 0 0 20px 10px #f580f8;
    transform: scale(1.2);
  }
  100% {
    border: #f9dcfe 2px solid;
    box-shadow: 0 0 20px 1px #f580f8;
    transform: scale(1);
  }
}

/* MEDIA QUERIES */

@media (hover: hover) {
  .room.ready {
    &:hover:not(:disabled) {
      cursor: pointer;
      background-color: #f9dcfe;
      border-color: #f9dcfe;

      .room-name {
        color: #2c222d;
      }
    }

    &:hover:disabled {
      cursor: default;
    }
  }
}
